{{ form_start(form) }}
{{ form_label(form.content) }}
{{ form_widget(form.content) }}
    {{ form_widget(form.createdAt,{'attr':{'hidden':'true'}}) }}
{{ form_rest(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
